# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

# Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='~/../images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='~/../images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

# Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!


# Step 1: Load the Data/Filtering for Chosen Zipcodes

In [1]:
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [2]:
zillow = pd.read_csv('zillow_data.csv')

In [3]:
zillow.head(20)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
5,91733,77084,Houston,TX,Houston,Harris,6,95000.0,95200.0,95400.0,...,157900,158700,160200,161900,162800,162800,162800,162900,163500,164300
6,61807,10467,New York,NY,New York,Bronx,7,152900.0,152700.0,152600.0,...,394400,400000,407300,411600,413200,414300,413900,411400,413200,417900
7,84640,60640,Chicago,IL,Chicago,Cook,8,216500.0,216700.0,216900.0,...,798000,787100,776100,774900,777900,777900,778500,780500,782800,782800
8,91940,77449,Katy,TX,Houston,Harris,9,95400.0,95600.0,95800.0,...,166800,167400,168400,169600,170900,172300,173300,174200,175400,176200
9,97564,94109,San Francisco,CA,San Francisco,San Francisco,10,766000.0,771100.0,776500.0,...,3767700,3763900,3775000,3799700,3793900,3778700,3770800,3763100,3779800,3813500
10,62037,11226,New York,NY,New York,Kings,11,162000.0,162300.0,162600.0,...,860200,851000,853900,870000,885100,887800,890500,901700,930700,963200
11,71831,32162,The Villages,FL,The Villages,Sumter,12,101000.0,100700.0,100400.0,...,249900,250400,249900,248700,247500,247100,246800,247500,249800,251800
12,62087,11375,New York,NY,New York,Queens,13,252400.0,251800.0,251400.0,...,1022600,1033700,1048600,1066400,1081200,1088800,1092700,1089500,1084000,1084600
13,62045,11235,New York,NY,New York,Kings,14,190500.0,191000.0,191500.0,...,767300,777300,788800,793900,796000,799700,806600,810600,813400,816200
14,74101,37013,Nashville,TN,Nashville,Davidson,15,112400.0,112700.0,113000.0,...,193000,194900,196600,198800,201300,203800,205900,207600,210000,211900
15,96107,90250,Hawthorne,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,16,152500.0,152600.0,152600.0,...,579300,585700,590900,594700,598500,601300,602800,606100,612400,616200
16,84646,60647,Chicago,IL,Chicago,Cook,17,122700.0,122800.0,122800.0,...,459600,461400,464300,466500,467900,470600,474500,475100,472600,470200
17,74242,37211,Nashville,TN,Nashville,Davidson,18,97900.0,98000.0,98200.0,...,243100,245000,246700,248800,251100,253900,256500,259000,262100,264200
18,92593,78660,Pflugerville,TX,Austin,Travis,19,138900.0,138600.0,138400.0,...,235000,235900,236600,237400,238500,239400,240000,241000,242200,242800
19,84620,60618,Chicago,IL,Chicago,Cook,20,142600.0,143100.0,143400.0,...,462700,461200,459900,459200,458700,457900,457400,459000,462500,464300

In [4]:
zillow.describe()

,RegionID,RegionName,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
count,14723.000000,14723.000000,14723.000000,1.368400e+04,1.368400e+04,1.368400e+04,1.368400e+04,1.368400e+04,1.368400e+04,1.368400e+04,...,1.472300e+04,1.472300e+04,1.472300e+04,1.472300e+04,1.472300e+04,1.472300e+04,1.472300e+04,1.472300e+04,1.472300e+04,1.472300e+04
mean,81075.010052,48222.348706,7362.000000,1.182991e+05,1.184190e+05,1.185374e+05,1.186531e+05,1.187803e+05,1.189275e+05,1.191205e+05,...,2.733354e+05,2.748658e+05,2.764646e+05,2.780332e+05,2.795209e+05,2.810953e+05,2.826571e+05,2.843687e+05,2.865114e+05,2.880399e+05
std,31934.118525,29359.325439,4250.308342,8.600251e+04,8.615567e+04,8.630923e+04,8.646795e+04,8.665094e+04,8.687208e+04,8.715185e+04,...,3.603984e+05,3.614678e+05,3.627563e+05,3.644610e+05,3.656003e+05,3.670454e+05,3.695727e+05,3.717739e+05,3.724612e+05,3.720544e+05
min,58196.000000,1001.000000,1.000000,1.130000e+04,1.150000e+04,1.160000e+04,1.180000e+04,1.180000e+04,1.200000e+04,1.210000e+04,...,1.440000e+04,1.450000e+04,1.470000e+04,1.480000e+04,1.450000e+04,1.430000e+04,1.410000e+04,1.390000e+04,1.380000e+04,1.380000e+04
25%,67174.500000,22101.500000,3681.500000,6.880000e+04,6.890000e+04,6.910000e+04,6.920000e+04,6.937500e+04,6.950000e+04,6.960000e+04,...,1.269000e+05,1.275000e+05,1.282000e+05,1.287000e+05,1.292500e+05,1.299000e+05,1.306000e+05,1.310500e+05,1.319500e+05,1.324000e+05
50%,78007.000000,46106.000000,7362.000000,9.950000e+04,9.950000e+04,9.970000e+04,9.970000e+04,9.980000e+04,9.990000e+04,9.995000e+04,...,1.884000e+05,1.896000e+05,1.905000e+05,1.914000e+05,1.925000e+05,1.934000e+05,1.941000e+05,1.950000e+05,1.967000e+05,1.981000e+05
75%,90920.500000,75205.500000,11042.500000,1.432000e+05,1.433000e+05,1.432250e+05,1.432250e+05,1.435000e+05,1.437000e+05,1.439000e+05,...,3.050000e+05,3.066500e+05,3.085000e+05,3.098000e+05,3.117000e+05,3.134000e+05,3.151000e+05,3.168500e+05,3.188500e+05,3.211000e+05
max,753844.000000,99901.000000,14723.000000,3.676700e+06,3.704200e+06,3.729600e+06,3.754600e+06,3.781800e+06,3.813500e+06,3.849600e+06,...,1.888990e+07,1.870350e+07,1.860530e+07,1.856940e+07,1.842880e+07,1.830710e+07,1.836590e+07,1.853040e+07,1.833770e+07,1.789490e+07

In [5]:
zillow.dtypes

RegionID        int64
RegionName      int64
City           object
State          object
Metro          object
CountyName     object
SizeRank        int64
1996-04       float64
1996-05       float64
1996-06       float64
1996-07       float64
1996-08       float64
1996-09       float64
1996-10       float64
1996-11       float64
1996-12       float64
1997-01       float64
1997-02       float64
1997-03       float64
1997-04       float64
1997-05       float64
1997-06       float64
1997-07       float64
1997-08       float64
1997-09       float64
1997-10       float64
1997-11       float64
1997-12       float64
1998-01       float64
1998-02       float64
               ...
2015-11         int64
2015-12         int64
2016-01         int64
2016-02         int64
2016-03         int64
2016-04         int64
2016-05         int64
2016-06         int64
2016-07         int64
2016-08         int64
2016-09         int64
2016-10         int64
2016-11         int64
2016-12         int64
2017-01         int64
2017-02         int64
2017-03         int64
2017-04         int64
2017-05         int64
2017-06         int64
2017-07         int64
2017-08         int64
2017-09         int64
2017-10         int64
2017-11         int64
2017-12         int64
2018-01         int64
2018-02         int64
2018-03         int64
2018-04         int64
Length: 272, dtype: object

In [6]:
zillow.columns

Index(['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName',
       'SizeRank', '1996-04', '1996-05', '1996-06',
       ...
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       '2018-01', '2018-02', '2018-03', '2018-04'],
      dtype='object', length=272)

# Step 2: Data Preprocessing

In [7]:
def get_datetimes(df):
    return pd.to_datetime(df.columns.values[7:], format='%Y-%m')

In [8]:
get_datetimes(zillow)

DatetimeIndex(['1996-04-01', '1996-05-01', '1996-06-01', '1996-07-01',
               '1996-08-01', '1996-09-01', '1996-10-01', '1996-11-01',
               '1996-12-01', '1997-01-01',
               ...
               '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01',
               '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01',
               '2018-03-01', '2018-04-01'],
              dtype='datetime64[ns]', length=265, freq=None)

# Step 3: Reshape from Wide to Long Format

In [9]:
def melt_data(df):
    melted = pd.melt(df, id_vars=['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
#     return melted.groupby('time').aggregate({'value':'mean'})
    return melted

In [10]:
melt_data(zillow)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,time,value
0,84654,60657,Chicago,IL,Chicago,Cook,1,1996-04-01,334200.0
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,1996-04-01,235700.0
2,91982,77494,Katy,TX,Houston,Harris,3,1996-04-01,210400.0
3,84616,60614,Chicago,IL,Chicago,Cook,4,1996-04-01,498100.0
4,93144,79936,El Paso,TX,El Paso,El Paso,5,1996-04-01,77300.0
5,91733,77084,Houston,TX,Houston,Harris,6,1996-04-01,95000.0
6,61807,10467,New York,NY,New York,Bronx,7,1996-04-01,152900.0
7,84640,60640,Chicago,IL,Chicago,Cook,8,1996-04-01,216500.0
8,91940,77449,Katy,TX,Houston,Harris,9,1996-04-01,95400.0
9,97564,94109,San Francisco,CA,San Francisco,San Francisco,10,1996-04-01,766000.0
10,62037,11226,New York,NY,New York,Kings,11,1996-04-01,162000.0
11,71831,32162,The Villages,FL,The Villages,Sumter,12,1996-04-01,101000.0
12,62087,11375,New York,NY,New York,Queens,13,1996-04-01,252400.0
13,62045,11235,New York,NY,New York,Kings,14,1996-04-01,190500.0
14,74101,37013,Nashville,TN,Nashville,Davidson,15,1996-04-01,112400.0
15,96107,90250,Hawthorne,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,16,1996-04-01,152500.0
16,84646,60647,Chicago,IL,Chicago,Cook,17,1996-04-01,122700.0
17,74242,37211,Nashville,TN,Nashville,Davidson,18,1996-04-01,97900.0
18,92593,78660,Pflugerville,TX,Austin,Travis,19,1996-04-01,138900.0
19,84620,60618,Chicago,IL,Chicago,Cook,20,1996-04-01,142600.0
21,61703,10128,New York,NY,New York,New York,22,1996-04-01,3676700.0
22,92036,77573,League City,TX,Houston,Galveston,23,1996-04-01,141400.0
23,92045,77584,Pearland,TX,Houston,Brazoria,24,1996-04-01,138500.0
24,69816,28269,Charlotte,NC,Charlotte,Mecklenburg,25,1996-04-01,126100.0
25,93123,79912,El Paso,TX,El Paso,El Paso,26,1996-04-01,119700.0
26,92515,78572,Mission,TX,McAllen,Hidalgo,27,1996-04-01,69900.0
27,97771,94565,Pittsburg,CA,San Francisco,Contra Costa,28,1996-04-01,139200.0
28,71067,30349,Riverdale,GA,Atlanta,Clayton,29,1996-04-01,90900.0
29,66126,20002,Washington,DC,Washington,District of Columbia,30,1996-04-01,94300.0
30,96027,90046,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,31,1996-04-01,340600.0
...,...,...,...,...,...,...,...,...,...
3901565,62433,12156,Schodack,NY,Albany,Rensselaer,14694,2018-04-01,199400.0
3901566,99114,97149,Neskowin,OR,NaN,Tillamook,14695,2018-04-01,413400.0
3901567,91948,77457,Matagorda,TX,Bay City,Matagorda,14696,2018-04-01,227300.0
3901568,93425,80481,Ward,CO,Boulder,Boulder,14697,2018-04-01,339300.0
3901569,66516,20625,Cobb Island,MD,Washington,Charles,14698,2018-04-01,212300.0
3901570,66509,20618,Bushwood,MD,California-Lexington Park,Saint Marys,14699,2018-04-01,194100.0
3901571,93436,80510,Allenspark,CO,Boulder,Boulder,14700,2018-04-01,321100.0
3901572,79881,49710,Barbeau,MI,Sault Ste. Marie,Chippewa,14701,2018-04-01,79800.0
3901573,58327,1270,Windsor,MA,Pittsfield,Berkshire,14702,2018-04-01,196000.0
3901574,62599,12480,Shandaken,NY,Kingston,Ulster,14703,2018-04-01,163700.0
3901575,94323,83821,Coolin,ID,Sandpoint,Bonner,14704,2018-04-01,540400.0
3901576,70763,29915,Bluffton,SC,Hilton Head Island,Beaufort,14705,2018-04-01,507500.0
3901577,79929,49768,Paradise,MI,Sault Ste. Marie,Chippewa,14706,2018-04-01,86700.0
3901578,59046,3215,Waterville Valley,NH,Claremont,Grafton,14707,2018-04-01,796600.0
3901579,69681,28039,East Spencer,NC,Charlotte,Rowan,14708,2018-04-01,28300.0
3901580,99401,97733,Crescent,OR,Klamath Falls,Klamath,14709,2018-04-01,238500.0
3901581,96805,92322,Crestline,CA,Riverside,San Bernardino,14710,2018-04-01,200100.0
3901582,59210,3812,Bartlett,NH,NaN,Carroll,14711,2018-04-01,228000.0
3901583,95893,89413,Glenbrook,NV,Gardnerville Ranchos,Douglas,14712,2018-04-01,2161900.0
3901584,96822,92341,Green Valley Lake,CA,Riverside,San Bernardino,14713,2018-04-01,183600.0
3901585,59187,3765,Haverhill,NH,Claremont,Grafton,14714,2018-04-01,127500.0
3901586,94711,84781,Pine Valley,UT,St. George,Washington,14715,2018-04-01,266800.0
3901587,62556,12429,Esopus,NY,Kingston,Ulster,14716,2018-04-01,177500.0
3901588,99032,97028,Rhododendron,OR,Portland,Clackamas,14717,2018-04-01,349300.0
3901589,62697,12720,Bethel,NY,NaN,Sullivan,14718,2018-04-01,117700.0
3901590,58333,1338,Ashfield,MA,Greenfield Town,Franklin,14719,2018-04-01,209300.0
3901591,59107,3293,Woodstock,NH,Claremont,Grafton,14720,2018-04-01,225800.0
3901592,75672,40404,Berea,KY,Richmond,Madison,14721,2018-04-01,133400.0
3901593,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,2018-04-01,664400.0
3901594,95851,89155,Mesquite,NV,Las Vegas,Clark,14723,2018-04-01,357200.0

In [11]:
zillow = melt_data(zillow)
zillow.head(20)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,time,value
0,84654,60657,Chicago,IL,Chicago,Cook,1,1996-04-01,334200.0
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,1996-04-01,235700.0
2,91982,77494,Katy,TX,Houston,Harris,3,1996-04-01,210400.0
3,84616,60614,Chicago,IL,Chicago,Cook,4,1996-04-01,498100.0
4,93144,79936,El Paso,TX,El Paso,El Paso,5,1996-04-01,77300.0
5,91733,77084,Houston,TX,Houston,Harris,6,1996-04-01,95000.0
6,61807,10467,New York,NY,New York,Bronx,7,1996-04-01,152900.0
7,84640,60640,Chicago,IL,Chicago,Cook,8,1996-04-01,216500.0
8,91940,77449,Katy,TX,Houston,Harris,9,1996-04-01,95400.0
9,97564,94109,San Francisco,CA,San Francisco,San Francisco,10,1996-04-01,766000.0
10,62037,11226,New York,NY,New York,Kings,11,1996-04-01,162000.0
11,71831,32162,The Villages,FL,The Villages,Sumter,12,1996-04-01,101000.0
12,62087,11375,New York,NY,New York,Queens,13,1996-04-01,252400.0
13,62045,11235,New York,NY,New York,Kings,14,1996-04-01,190500.0
14,74101,37013,Nashville,TN,Nashville,Davidson,15,1996-04-01,112400.0
15,96107,90250,Hawthorne,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,16,1996-04-01,152500.0
16,84646,60647,Chicago,IL,Chicago,Cook,17,1996-04-01,122700.0
17,74242,37211,Nashville,TN,Nashville,Davidson,18,1996-04-01,97900.0
18,92593,78660,Pflugerville,TX,Austin,Travis,19,1996-04-01,138900.0
19,84620,60618,Chicago,IL,Chicago,Cook,20,1996-04-01,142600.0

In [12]:
zillow.drop('SizeRank', axis=1, inplace=True)
zillow.head(20)

,RegionID,RegionName,City,State,Metro,CountyName,time,value
0,84654,60657,Chicago,IL,Chicago,Cook,1996-04-01,334200.0
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,1996-04-01,235700.0
2,91982,77494,Katy,TX,Houston,Harris,1996-04-01,210400.0
3,84616,60614,Chicago,IL,Chicago,Cook,1996-04-01,498100.0
4,93144,79936,El Paso,TX,El Paso,El Paso,1996-04-01,77300.0
5,91733,77084,Houston,TX,Houston,Harris,1996-04-01,95000.0
6,61807,10467,New York,NY,New York,Bronx,1996-04-01,152900.0
7,84640,60640,Chicago,IL,Chicago,Cook,1996-04-01,216500.0
8,91940,77449,Katy,TX,Houston,Harris,1996-04-01,95400.0
9,97564,94109,San Francisco,CA,San Francisco,San Francisco,1996-04-01,766000.0
10,62037,11226,New York,NY,New York,Kings,1996-04-01,162000.0
11,71831,32162,The Villages,FL,The Villages,Sumter,1996-04-01,101000.0
12,62087,11375,New York,NY,New York,Queens,1996-04-01,252400.0
13,62045,11235,New York,NY,New York,Kings,1996-04-01,190500.0
14,74101,37013,Nashville,TN,Nashville,Davidson,1996-04-01,112400.0
15,96107,90250,Hawthorne,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1996-04-01,152500.0
16,84646,60647,Chicago,IL,Chicago,Cook,1996-04-01,122700.0
17,74242,37211,Nashville,TN,Nashville,Davidson,1996-04-01,97900.0
18,92593,78660,Pflugerville,TX,Austin,Travis,1996-04-01,138900.0
19,84620,60618,Chicago,IL,Chicago,Cook,1996-04-01,142600.0

# Step 4: EDA and Visualization
Perform basic EDA as you would building any model, then create at least 3 visualizations.  At least one of the visualizations should have time on the x-axis.  Axes should be labeled and any text should be legible.

In [13]:
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 22}

plt.rc('font', **font)

# NOTE: if you visualizations are too cluttered to read, try calling 'plt.gcf().autofmt_xdate()'!

In [14]:
# MinMaxScaler

In [15]:
from datetime import datetime, date
zillow_train = zillow[zillow.time < pd.Timestamp(date(year = 2017, month = 1, day = 1))]
zillow_test = zillow[zillow.time >= pd.Timestamp(date(year = 2017, month = 1, day = 1))]

In [16]:
zillow_train.tail(20)

,RegionID,RegionName,City,State,Metro,CountyName,time,value
3666007,94323,83821,Coolin,ID,Sandpoint,Bonner,2016-12-01,524300.0
3666008,70763,29915,Bluffton,SC,Hilton Head Island,Beaufort,2016-12-01,475300.0
3666009,79929,49768,Paradise,MI,Sault Ste. Marie,Chippewa,2016-12-01,83300.0
3666010,59046,3215,Waterville Valley,NH,Claremont,Grafton,2016-12-01,817600.0
3666011,69681,28039,East Spencer,NC,Charlotte,Rowan,2016-12-01,31500.0
3666012,99401,97733,Crescent,OR,Klamath Falls,Klamath,2016-12-01,189500.0
3666013,96805,92322,Crestline,CA,Riverside,San Bernardino,2016-12-01,163000.0
3666014,59210,3812,Bartlett,NH,NaN,Carroll,2016-12-01,205300.0
3666015,95893,89413,Glenbrook,NV,Gardnerville Ranchos,Douglas,2016-12-01,2161800.0
3666016,96822,92341,Green Valley Lake,CA,Riverside,San Bernardino,2016-12-01,165000.0
3666017,59187,3765,Haverhill,NH,Claremont,Grafton,2016-12-01,113900.0
3666018,94711,84781,Pine Valley,UT,St. George,Washington,2016-12-01,231000.0
3666019,62556,12429,Esopus,NY,Kingston,Ulster,2016-12-01,156000.0
3666020,99032,97028,Rhododendron,OR,Portland,Clackamas,2016-12-01,326700.0
3666021,62697,12720,Bethel,NY,NaN,Sullivan,2016-12-01,106900.0
3666022,58333,1338,Ashfield,MA,Greenfield Town,Franklin,2016-12-01,193200.0
3666023,59107,3293,Woodstock,NH,Claremont,Grafton,2016-12-01,190200.0
3666024,75672,40404,Berea,KY,Richmond,Madison,2016-12-01,120000.0
3666025,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,2016-12-01,581700.0
3666026,95851,89155,Mesquite,NV,Las Vegas,Clark,2016-12-01,317000.0

In [17]:
zillow_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3509136 entries, 0 to 3666026
Data columns (total 8 columns):
RegionID      int64
RegionName    int64
City          object
State         object
Metro         object
CountyName    object
time          datetime64[ns]
value         float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 241.0+ MB

In [18]:
zillow_test.tail(20)

,RegionID,RegionName,City,State,Metro,CountyName,time,value
3901575,94323,83821,Coolin,ID,Sandpoint,Bonner,2018-04-01,540400.0
3901576,70763,29915,Bluffton,SC,Hilton Head Island,Beaufort,2018-04-01,507500.0
3901577,79929,49768,Paradise,MI,Sault Ste. Marie,Chippewa,2018-04-01,86700.0
3901578,59046,3215,Waterville Valley,NH,Claremont,Grafton,2018-04-01,796600.0
3901579,69681,28039,East Spencer,NC,Charlotte,Rowan,2018-04-01,28300.0
3901580,99401,97733,Crescent,OR,Klamath Falls,Klamath,2018-04-01,238500.0
3901581,96805,92322,Crestline,CA,Riverside,San Bernardino,2018-04-01,200100.0
3901582,59210,3812,Bartlett,NH,NaN,Carroll,2018-04-01,228000.0
3901583,95893,89413,Glenbrook,NV,Gardnerville Ranchos,Douglas,2018-04-01,2161900.0
3901584,96822,92341,Green Valley Lake,CA,Riverside,San Bernardino,2018-04-01,183600.0
3901585,59187,3765,Haverhill,NH,Claremont,Grafton,2018-04-01,127500.0
3901586,94711,84781,Pine Valley,UT,St. George,Washington,2018-04-01,266800.0
3901587,62556,12429,Esopus,NY,Kingston,Ulster,2018-04-01,177500.0
3901588,99032,97028,Rhododendron,OR,Portland,Clackamas,2018-04-01,349300.0
3901589,62697,12720,Bethel,NY,NaN,Sullivan,2018-04-01,117700.0
3901590,58333,1338,Ashfield,MA,Greenfield Town,Franklin,2018-04-01,209300.0
3901591,59107,3293,Woodstock,NH,Claremont,Grafton,2018-04-01,225800.0
3901592,75672,40404,Berea,KY,Richmond,Madison,2018-04-01,133400.0
3901593,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,2018-04-01,664400.0
3901594,95851,89155,Mesquite,NV,Las Vegas,Clark,2018-04-01,357200.0

In [19]:
zillow_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 235568 entries, 3666027 to 3901594
Data columns (total 8 columns):
RegionID      235568 non-null int64
RegionName    235568 non-null int64
City          235568 non-null object
State         235568 non-null object
Metro         218880 non-null object
CountyName    235568 non-null object
time          235568 non-null datetime64[ns]
value         235568 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 16.2+ MB

# Step 5: ARIMA Modeling
Be sure to validate your model.  Make a forecast for the future and describe the trend.

# Step 6: Interpreting Results
Give a detailed interpretation of results including the relationship between the inputs and output of the model.